.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    transition: all 0.2s;
    font-size: $default-font-size;
  }
  &:hover {
    transform: translateY(-0.3rem) /*moves element up*/;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.164);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem)
      /*moves element up, but less than on btn:hover*/;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.164);
  }

  &::after {
    /* make element that looks exactly like button, but goes behind buttom, when we hover out ov button it goes back */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }
  &--animated {
    animation: moveInBottom 0.8s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary-light;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    border-bottom: 1px solid $color-primary-light;
    transition: all .2s;
  }
  &:hover {
    background-color: $color-primary-light;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black,  .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 2rem rgba($color-black,  .1);
    transform: translateY(0px);
  }
}
